<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PANDA - Python Automation for Network Device Access</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <style>
        .clickable {
            cursor: pointer;
        }
    </style>
</head>
<body class="layout-top-nav" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <span class="brand-text font-weight-light"><b>PANDA</b></span>
                 </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/get_configs" class="nav-link">Get Configurations</a>
                        </li>
                        <li class="nav-item">
                            <a href="/set_configs" class="nav-link">Set Configurations</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Update Netbox</a>
                        </li>
                    </ul>
            
                    <form class="form-inline ml-0 ml-md-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>          
            </div>
        </nav>
        <!-- /.navbar -->        

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Home</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">Home</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Client Name" value="{{ client_name }}" style="font-size: smaller;">
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="rootDirectory" name="rootDirectory"  placeholder="Root Directory" value="{{ root_directory }}" style="font-size: smaller;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-info">
                                <div class="card-header clickable" data-href="/get_configs">
                                    <h5 class="card-title m-0">Get Configurations</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Get configurations from network devices, parsing the output whenever possible and creating an excel file with the data.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-danger">
                                <div class="card-header clickable" data-href="/set_configs">
                                    <h5 class="card-title m-0">Set Configurations</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Generate configurations based on input data and pre-defined templates, and applied them to the network devices.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-secondary">
                                <div class="card-header clickable" data-href="/generate_configs">
                                    <h5 class="card-title m-0">Generate Configurations</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Generate device configurations based on pre-defined templates.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-secondary">
                                <div class="card-header clickable" data-href="/update_netbox">
                                    <h5 class="card-title m-0">Update Netbox</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Update Netbox data based on device information and status.</p>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-dark">
                                <div class="card-header clickable" data-href="#">
                                    <h5 class="card-title m-0">Upgrade Firmware</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Upgrade devices firmware, or send image to the device.</p>
                                </div>
                                <div class="overlay"></div>    
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-danger">
                                <div class="card-header clickable" data-href="#">
                                    <h5 class="card-title m-0">Enable LLDP on VLAN</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Enable LLDP in ports that belong to a specific VLAN.</p>
                                </div>
                                <div class="overlay"></div>    
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-danger">
                                <div class="card-header clickable" data-href="#">
                                    <h5 class="card-title m-0">Enable CDP on VLAN</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Enable CDP in ports that belong to a specific VLAN.</p>
                                </div>
                                <div class="overlay"></div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Footer -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 2.0.1
            </div>
        </footer>
    </div>
    <!-- JavaScript at the bottom of the page for faster page loading -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
                var debounceTimer;
        document.querySelectorAll('#rootDirectory').forEach(function(inputElement) {
            inputElement.addEventListener('input', function(event) {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(function() {
                    var rootDirectory = document.getElementById('rootDirectory').value;
                    $.ajax({
                        url: '/update_root_directory',
                        type: 'POST',
                        data: {root_directory: rootDirectory},
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }, 1000); // Adjust the delay (in milliseconds) as needed
            });
        });

        document.querySelectorAll('#clientName').forEach(function(inputElement) {
            inputElement.addEventListener('input', function(event) {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(function() {
                    var clientName = document.getElementById('clientName').value;
                    $.ajax({
                        url: '/update_client_name',
                        type: 'POST',
                        data: {client_name: clientName},
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }, 1000); // Adjust the delay (in milliseconds) as needed
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            var clickableElements = document.querySelectorAll('.clickable');
            clickableElements.forEach(function(element) {
                element.addEventListener('click', function() {
                    var href = element.getAttribute('data-href');
                    if (href) {
                        window.location.href = href;
                    }
                });
            });
        });

    </script>
</body>
</html>
