<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PANDA - Python Automation for Network Device Access</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <style>
        .clickable {
            cursor: pointer;
        }
        .select2-container .select2-selection--multiple, 
        .select2-container .select2-selection--single {
            border: none !important;
        }
        /* Custom CSS */
        .modal-header {
            background-color: #0B7285; /* Change this to the desired color */
            color: #fff; /* Text color */
        }
    </style>
</head>
<body class="layout-top-nav" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <span class="brand-text font-weight-light"><b>PANDA</b></span>
                 </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/get_configs" class="nav-link">Get Configurations</a>
                        </li>
                        <li class="nav-item">
                            <a href="/set_configs" class="nav-link">Set Configurations</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Update Netbox</a>
                        </li>
                    </ul>
            
                    <form class="form-inline ml-0 ml-md-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>          
            </div>
        </nav>
        <!-- /.navbar -->        

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Update Netbox</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Update Netbox</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Client Name" value="{{ client_name }}" style="font-size: smaller;">
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="rootDirectory" name="rootDirectory"  placeholder="Root Directory" value="{{ root_directory }}" style="font-size: smaller;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h5 class="card-title m-0">Information Data</h5>
                                </div>
                                <div class="card-body">
                                    <div id="accordion">
                                        {% for group_name, options in config_options.items() %}
                                        <div class="card card-light">
                                            <div class="card-header clickable" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                                <h4 class="card-title m-0" id="{{ group_name }}">{{ group_name }}</h4>
                                            </div>
                                            <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="row">
                                                        {% for option in options %}
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="{{ option['id'] }}" name="{{ option['name'] }}" {{ option['status'] }} onchange="updateInformationDataSelected()">
                                                                    <label class="form-check-label" for="{{ option['id'] }}">{{ option['label'] }}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>                               
                                <div class="card-footer">
                                    Select the data to update in Netbox, collecting it from the devices
                                </div>
                            </div>    
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-outline card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Device Groups
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="select2-light">
                                        <select id="device_group_options" class="select2 select2-accessible" multiple="multiple" data-placeholder="Select the device groups" style="width: 100%;" tabindex="-1">
                                            {% for group_name in device_groups.keys() %}
                                                <option value="{{ group_name }}">{{ group_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>                            
                            </div>
                            <div class="card card-outline card-secondary" id="informationDataCard">
                                <div class="card-header" id="refreshInformationData">
                                    <h3 class="card-title">
                                        Information Data <small>(selected)</small>
                                    </h3>
                                </div>
                                <div class="card-body" id="informationDataSelectedBody">
                                    <!-- Information data will be dynamically updated here -->
                                </div>
                            </div>
                            <button type="button" class="btn btn-block btn-success mb-3" data-toggle="modal" data-target="#runGetConfigsModal">Run</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Footer -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 2.0.1
            </div>
        </footer>
    </div>
    <!-- JavaScript at the bottom of the page for faster page loading -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        // Function to save selected options to local storage
        function saveDeviceGroupSelectedOptions(deviceGroupSelectedOptions) {
            sessionStorage.setItem('deviceGroupSelectedOptions', JSON.stringify(deviceGroupSelectedOptions));
        }
    
        // Function to load selected options from local storage
        function loadDeviceGroupSelectedOptions() {
            var deviceGroupSelectedOptions = JSON.parse(sessionStorage.getItem('deviceGroupSelectedOptions'));
            if (deviceGroupSelectedOptions) {
                $('#device_group_options').val(deviceGroupSelectedOptions).trigger('change');
            }
        }
    
        function updateInformationDataSelected() {
    
            const selectedOptions = {};
            const checkboxes = document.querySelectorAll('.form-check-input');
            checkboxes.forEach(checkbox => {
                const groupName = checkbox.closest('.card').querySelector('.card-header .card-title').textContent.trim();
                const optionId = checkbox.id;
                const isChecked = checkbox.checked;
                if (!selectedOptions[groupName]) {
                    selectedOptions[groupName] = {};
                }
                selectedOptions[groupName][optionId] = isChecked;
                sessionStorage.setItem('checkboxState', JSON.stringify(selectedOptions));
            });
    
            const informationDataBody = document.getElementById('informationDataSelectedBody');
            const informationDataModal = document.getElementById('informationDataModal');
            informationDataBody.innerHTML = ''; // Clear previous content
            informationDataModal.innerHTML = ''; // Clear previous content
    
            for (const groupName in selectedOptions) {
                if (selectedOptions.hasOwnProperty(groupName)) {
                    // Check if there are selected options for this group
                    const groupHasSelectedOptions = Object.values(selectedOptions[groupName]).some(option => option);
    
                    if (groupHasSelectedOptions) {
                        const groupHeader = document.createElement('h7');
                        groupHeader.textContent = groupName;
                        groupHeader.style.fontWeight = 'bold';
                        informationDataBody.appendChild(groupHeader);
                        informationDataModal.appendChild(groupHeader.cloneNode(true));
    
                        const ul = document.createElement('ul');
                        ul.style.fontSize = '0.9em';
    
                        for (const optionId in selectedOptions[groupName]) {
                            if (selectedOptions[groupName].hasOwnProperty(optionId) && selectedOptions[groupName][optionId]) {
                                const optionLabel = document.querySelector(`label[for="${optionId}"]`).textContent.trim();
                                const li = document.createElement('li');
                                li.textContent = optionLabel;
                                li.style.listStyleType = 'disc';
                                ul.appendChild(li);
                            }
                        }
                        informationDataBody.appendChild(ul);
                        informationDataModal.appendChild(ul.cloneNode(true));
                    }
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function() {

            // Apply saved checkbox states from sessionStorage
            const savedCheckboxState = JSON.parse(sessionStorage.getItem('checkboxState'));
            if (savedCheckboxState) {
                for (const groupName in savedCheckboxState) {
                    if (savedCheckboxState.hasOwnProperty(groupName)) {
                        const options = savedCheckboxState[groupName];
                        for (const optionId in options) {
                            if (options.hasOwnProperty(optionId)) {
                                const isChecked = options[optionId];
                                const checkbox = document.getElementById(optionId);
                                if (checkbox) {
                                    checkbox.checked = isChecked;
                                    checkbox.addEventListener('change', updateInformationDataSelected);
                                }
                            }
                        }
                    }
                }
                updateInformationDataSelected();
            }

            // Apply saved state to each collapsible content within the accordion
            const accordionItems = document.querySelectorAll('.collapse');
            accordionItems.forEach(collapse => {
                const target = collapse.id;
                const accordionState = sessionStorage.getItem(target);
                if (accordionState === 'expanded') {
                    collapse.classList.add('show');
                }
            });

            // Add event listeners to accordion headers to toggle their corresponding collapse element
            const accordionHeaders = document.querySelectorAll('.clickable');
            accordionHeaders.forEach(header => {
                header.addEventListener('click', function() {
                    const target = this.getAttribute('data-target');
                    const collapse = document.querySelector(target);
                    const currentState = collapse.classList.contains('show') ? 'collapsed' : 'expanded';
                    collapse.classList.toggle('show');
                    sessionStorage.setItem(target, currentState);
                    // Store the state of the header (expanded/collapsed)
                    sessionStorage.setItem(target + '-header', currentState);
                });

                // Restore the state of the header (expanded/collapsed) when the page is refreshed
                const target = header.getAttribute('data-target');
                const headerState = sessionStorage.getItem(target + '-header');
                if (headerState === 'expanded') {
                    const collapse = document.querySelector(target);
                    collapse.classList.add('show');
                }
            });

        });
    
        $(document).ready(function() {

            $('#device_group_options').select2();

            loadDeviceGroupSelectedOptions();

            $('#runScriptBtn').click(function() {
                // Get the selected device groups
                var selectedDeviceGroups = $('#device_group_options').val();
                // Get the information data selected
                var informationDataSelected = [];
                $('.form-check-input:checked').each(function() {
                    informationDataSelected.push($(this).attr('id'));
                });
                // Make sure some device groups and information data are selected
                if (selectedDeviceGroups.length > 0 && informationDataSelected.length > 0) {
                    // Convert the data to a JSON string
                    var jsonData = JSON.stringify({
                        'selectedDeviceGroups': selectedDeviceGroups,
                        'informationDataSelected': informationDataSelected
                    });
                    // Send AJAX POST request
                    $.ajax({
                        url: '/run_get_configs',
                        type: 'POST',
                        contentType: 'application/json',
                        data: jsonData,
                        success: function(response) {
                            // Handle success response from Flask
                            console.log(response);
                        },
                        error: function(xhr, status, error) {
                            // Handle error
                            console.error(xhr.responseText);
                        }
                    });
                } else {
                    // Handle case where no device groups or information data are selected
                    console.log('No device groups or information data selected.');
                }
            });
        });
    
        // Save selected options when the selection changes
        $('#device_group_options').on('change', function() {
            var deviceGroupSelectedOptions = $('#device_group_options').val();
    
            saveDeviceGroupSelectedOptions(deviceGroupSelectedOptions);
    
            const listElement = document.getElementById('selectedDeviceGroupsModal');
            listElement.innerHTML = ''; // Clear previous content
    
            const ul = document.createElement('ul');
            ul.style.fontSize = '0.9em';
            deviceGroupSelectedOptions.forEach(option => {
                const li = document.createElement('li');
                li.textContent = option;
                li.style.listStyleType = 'disc';
                ul.appendChild(li);
            })
            listElement.appendChild(ul)
        });
    
    </script>
</body>
</html>
